﻿@using WebApplication1.Models
@model Product

<h1 class="display-5">Product - Index </h1>


<div>
    Product Id : @Model.ProductId <br />
    Product Name : @Model.ProductName  <br />
    Price : @Model.Price  <br />
    Category: @Model.Category <br />
   quantity: @Model.quantity  <br />
</div>
